<div class="container-fluid" style="padding-top:.5rem;padding-bottom:.5rem">
	<div class="row">
		<div class="col-lg-1 col-3">
      <a href="/">
			<img src="https://res.cloudinary.com/aseed/image/upload/v1606661505/logoblue_rylgpn.png" alt="" class="img-fluid">
    </a>
    </div>
		<div class="col-lg-6 offset-lg-5 col-9">
			<ul class="nav bd-nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Accueil</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Produits</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Badol Pay</a></li>
      <li><a class="dropdown-item" href="/souf/">Badol Souf</a></li>
      <li><a class="dropdown-item" href="#">Badol </a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contact</a>
  </li>
</ul>
		</div>
	</div>
</div>