<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-FR" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, 
    user-scalable=0">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
		<link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/badol.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
  </head>
  <body style="font-family: 'Epilogue', sans-serif;">
    {% include navigation.html %}
    {{ content}}
    {% include footer.html %}
    <script src="/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
